<link rel="stylesheet" href="/stylesheets/profile.css">

<h3 style="color: red">de pus butoane de editare profil si preferences</h3>

<div style="float: left; margin-left: 20px">
  <h3>User Profile</h3>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #CCFFE6">Details</div>
    <table class="table table-bordered">
      <tr>
        <td class="coloredText">Username:</td>
        <td>{{crtUser.username}}</td>
      </tr>
      <tr>
        <td class="coloredText">Full name:</td>
        <td>{{crtUser.fullName}}</td>
      </tr>
      <tr>
        <td class="coloredText">Password:</td>
        <td><a>Change Password</a></td>
      </tr>
      <tr>
        <td class="coloredText">Email:</td>
        <td>{{crtUser.email}}</td>
      </tr>
      <tr>
        <td class="coloredText">Group:</td>
        <td>{{crtUser.group}}</td>
      </tr> 
      <tr>
        <td class="coloredText">Profile Picture:</td>
        <td><a>Change Photo</a></td>
      </tr>                            
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"style="background-color: #CCFFE6">Preferences</div>
    <table class="table table-bordered profileTd">
      <tr>
        <td class="coloredText">Language:</td>
        <td>{{language}}</td>
      </tr>
      <tr>
        <td class="coloredText">Notifications:</td>
        <td>{{notifications}}</td>
      </tr>
      <tr>
        <td class="coloredText">Sharing:</td>
        <td>{{sharing}}</td>
      </tr>                           
    </table>
  </div>
</div>

<div style="float: left; margin-left: 150px; margin-top: 56px; width: 400px">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #CCFFE6">
      Assigned Projects
      </span>    
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="project in crtProjects"><a href="#/tasks">{{project.name}}</a></li>
    </ul>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #CCFFE6">
      Tasks
      <span title="filter" style="float: right" class="glyphicon glyphicon-filter clickable" ng-click="showFilters = !showFilters">
      </span>    
    </div>
    <ul class="list-group">
      <li ng-repeat="task in showTasks" class="list-group-item">
        <span ng-class="{'glyphicon glyphicon-remove' : task.type  =='bug', 'glyphicon glyphicon-circle-arrow-up' : task.type  =='feature', 'glyphicon glyphicon-flash' : task.type  =='build'}">
        </span>
        {{task.value}}
      </li>
    </ul>
  </div>
</div>

<div style="float: left; margin-top: 200px" id="filterForm" ng-show="showFilters">
  <form>
    <label>
      <input ng-change="filter()" type="radio" ng-model="filterType" value="bug">
      Bug
    </label><br/>
    <label>
      <input ng-change="filter()" type="radio" ng-model="filterType" value="feature">
      Feature
    </label><br/>
    <label>
      <input ng-change="filter()" type="radio" ng-model="filterType" value="build">
      Broken Build
    </label><br/>
    <label>
      <input ng-change="filter()" type="radio" ng-model="filterType" value="all">
      All tasks
    </label><br/>
  </form>
</div>
