<style>
  .headerForm {
    z-index: -1;
    margin-top: -50px; 
    padding-bottom: 50px; 
    margin-left: 160px;
  }
  .searchInput {
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    outline: 0;
  }
</style>

<form class="headerForm">
  <input
  ng-model="searchFilter"
  type="text"
  placeholder="Search for project..." 
  class="searchInput"
  ng-change=filterTableData()>
  <span class="glyphicon glyphicon-search" style="margin-left: -25px"></span>
</form>

<div class="content">
  <div class="panel panel-default" style="margin:20 20">
    <!-- Default panel contents -->
    <div class="panel-heading">Projects</div>
    <!-- Table -->
    <table class="table table-striped table-hover table-bordered">
      <tr class="clickable" ng-repeat="project in shownProjects" title="Edit details" ng-click="openProjectModal(project._id)">
        <td class="projectTd">{{project.name}}</td>
        <td>{{project.status}}</td>
        <td>{{project.start_date}}</td>
        <td><button class="btn btn-danger" ng-click="delete(project._id)">delete</button></td>
      </tr>
    </table>
  </div>
  <h3 style="color:red; text-decoration: line-through;">de adaugat useri la proiecte</h3>
  <h3 style="color:red">de adaugat proiecte la useri</h3>
  <h3 style="color:red; text-decoration: line-through;">de pus bara de search</h3>
  <h3 style="color:red">de pus are you sure la delete: all task tree</h3>

  <nav class="navbar navbar-default" style="margin:20 20">
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <label class="sr-only">Project Name</label>
        <input class="form-control" id="project-name" ng-model="projectName" placeholder="Project Name">
      </div>
      <div class="form-group">
        <label class="sr-only">Status</label>
        <select placeholder="Status" class="form-control" ng-model="projectStatus">
          <option>in progress</option>
          <option>completed</option>
          <option>failed</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only">Start Date</label>
        <input class="form-control" type="date" id="project-date" ng-model="projectDate" placeholder="Start Date">
      </div>
      <button type="submit" class="btn btn-primary" ng-click="addProject()">Add Project</button>
    </form>
  </nav>
</div>
