<link rel="stylesheet" href="/stylesheets/signup.css">
<link rel="stylesheet" href="/stylesheets/login.css">

<img src="/images/elephant.png" class="bigLogo">
<div class="appText bigText">Elephant</div> 
<div>
	<div class="joinText bigText">Join Elephants</div> 
	<a href="#/login" class="loginAlt">or Log In</a>
</div>
<form class="signupForm">
	<table class="authTable">
		<tr>
			<td>User Name</td>
			<td><input type="text" ng-model="username" value=""></td>
		</tr>
		<tr>
			<td>Full Name</td>
			<td><input type="text" ng-model="fullName" value=""></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" ng-model="email" value=""></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" ng-model="password" value=""></td>
		</tr>
		<tr>
			<td>Confirm Password</td>
			<td><input type="password" ng-model="confirmPassword" value=""></td>
		</tr>								
	</table>
	<button class="authButton" ng-click="signup()">Join Elephants</button>
</form>
