<link rel="stylesheet" href="/stylesheets/tasks.css">
<div style="margin:30 20">
	<h3>
		Project:
		<span style="font-weight: bold">{{project.name}}</span>
		<span 
		ng-class="{'text-danger' : (project.status=='failed'),
		'text-success' : (project.status=='completed'),
		'text-info' : (project.status=='in progress')}">
		({{project.status}})
	</span>
</h3>
<button class="btn btn-primary btn-xs" ng-click="addTask()">Add root task</button>
</div>

<hr>

<div class="col-md-4">
	<treecontrol class="tree-light"
	tree-model="dataForTheTree"
	options="treeOptions"
	on-selection="setSelected(node)"
	expanded-nodes="expandedNodes"
	selected-node="selectedNode"
	>
	{{node.name}}
	<span class="glyphicon glyphicon-plus glyphicon-green" ng-click="addSubTask($event, node)"></span>
</treecontrol>
</div>

<div class="col-md-3">
	<div ng-show="selectedNode" class="panel panel-default">
		<div class="panel-heading" style="background-color: #CCFFE6">
			Task Details
			<span class="glyphicon glyphicon-pencil clickable" style="float: right" ng-click="openDetailsModal()" title="edit"></span>
		</div>
		<table class="table table-bordered">
			<colgroup>
			<col style="width:40%">
			<col style="width:60%">
		</colgroup>
		<tr>
			<td class="coloredText">Name:</td>
			<td>{{selectedNode.name}}</td>
		</tr>
		<tr>
			<td class="coloredText">Description:</td>
			<td>{{selectedNode.description}}</td>
		</tr>
		<tr ng-class="{'bg-danger' : (selectedNode.status=='failed'),
		'bg-success' : (selectedNode.status=='completed'),
		'bg-info' : (selectedNode.status=='in progress')}">
		<td class="coloredText">Status:</td>
		<td>{{selectedNode.status}}</td>
	</tr>
	<tr>
		<td class="coloredText">Start Date:</td>
		<td>{{selectedNode.stringDate}}</td>
	</tr>
	<tr>
		<td class="coloredText">Assigned Users:</td>
		<td>
			<ul>
				<li ng-repeat="user in assignedUsers">
					{{user.fullName}}
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<button class="btn btn-danger">Delete</button>
		</td>
	</tr>
</table>
</div>
</div>