<link rel="stylesheet" href="/stylesheets/users.css">
<div class="bigContainer">
	<div class="col-md-3" style="margin-top: 20px">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #E1E1E1">
				<div class="row">
					<div class="col-md-4">
						Users
					</div>
					<div class="col-md-6 pull-right">
						<div class="has-feedback">
							<input type="text" class="form-control" 
							placeholder="Search" ng-model="filterText" ng-change="filterUsers(filterText)"/>
							<i class="glyphicon glyphicon-search form-control-feedback"></i>
						</div>					
					</div>
				</div>
			</div>
			<ul class="list-group">
				<li ng-repeat="user in filteredUsers" class="list-group-item bigText">
					<a href="#/users/{{user._id}}">
						<span
						ng-style="{'font-weight' : user._id == selectedUser._id ? 'bold' : 'normal'}">{{user.fullName}}</span>
						<img style="height: 40px; margin-left: 20px" ng-src="{{user.picturePath}}">
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div ng-show="selectedUser" class="col-md-9 userDataPanel">
		<div class="row">
			<div class="col-md-4">
				<h3><img style="height: 40px; margin-right: 20px" ng-src="{{selectedUser.picturePath}}">{{selectedUser.fullName}}</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #E1E1E1">
						Details
					</div>
					<table class="table table-bordered">
						<tr>
							<td class="coloredText">Username:</td>
							<td>{{selectedUser.username}}</td>
						</tr>
						<tr>
							<td class="coloredText">Full name:</td>
							<td>{{selectedUser.fullName}}</td>
						</tr>
						<tr>
							<td class="coloredText">Email:</td>
							<td><a href="mailto:{{selectedUser.email}}">{{selectedUser.email}}</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading" style="background-color: #E1E1E1">
						{{tasks.length != 0 ? 'Assigned Tasks' : 'No Tasks Assigned'}}
					</div>
					<table ng-hide="tasks.length == 0" class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 33%">Task</th>
								<th style="width: 33%">
									<div class="dropdown">
										<a class="dropdown-toggle clickable" data-toggle="dropdown">
											Status
											<span class="caret"></span>
										</a>
										<ul class="dropdown-menu">
											<li><a class="clickable bg-info" ng-click="filterTasks('in progress')">In progress</a></li>
											<li><a class="clickable bg-success" ng-click="filterTasks('completed')">Completed</a></li>
											<li><a class="clickable bg-danger" ng-click="filterTasks('failed')">Failed</a></li>
											<li role="separator" class="divider"></li>
											<li><a class="clickable" ng-click="filterTasks('all')">All</a></li>
										</ul>
									</div>
								</th>          
								<th style="width: 33%">Project</th>          
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="task in filteredTasks">
								<td><a href="#/tasks/{{task.project}}/{{task._id}}">{{task.name}}</a></td>
								<td 
								ng-class="{	'bg-danger' : (task.status=='failed'),
								'bg-success' : (task.status=='completed'),
								'bg-info' : (task.status=='in progress')}"
								>{{task.status}}</td>
								<td><a href="#/tasks/{{task.project}}">{{projectMap[task.project]}}</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
