<html>
<head>
	<title>Elephant</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/tree-control.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/tree-control-attribute.css">

	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-resource.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/angular-animate.js"></script>

	<script src="/javascripts/ui-bootstrap-tpls-0.14.3.js"></script>

	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


	<script src="/javascripts/controllers/indexCtrl.js"></script>
	<script src="/javascripts/controllers/profileCtrl.js"></script>
	<script src="/javascripts/controllers/projectsCtrl.js"></script>
	<script src="/javascripts/controllers/loginCtrl.js"></script>
	<script src="/javascripts/controllers/signupCtrl.js"></script>
	<script src="/javascripts/controllers/tasksCtrl.js"></script>

	<!-- angular tree -->
	<script src="javascripts/angular-tree-control.js"></script>

	<script src="/javascripts/controllers/modals/addTaskCtrl.js"></script>
	<script src="/javascripts/controllers/modals/projectDetailsCtrl.js"></script>
	<script src="/javascripts/controllers/modals/profileDetailsCtrl.js"></script>
	
	<link rel="icon" type="img/ico" href="favicon.ico">
</head>
<body ng-app="taskManagerApp" ng-controller="indexCtrl">
	<div class="header" ng-show="currentController!='login' && currentController!='signup'">
		<img src="/images/elephant.png" class="header_logo">

		<div style="float: right">
			<img src="/images/profile_pic.png" class="header_profilePic">
			<a href="#/profile" class="header_nameURL">{{fullName}}</a>

			<a href="#/projects" class="header_projectsURL">Projects</a>
		</div>
	</div>

	<div ng-view=""></div>
</body>
</html>
