<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Notifications</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/notifications.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/controllers/notifications.js"></script>
</head>

<body>

  <div ng-controller="myAppCtrl">
    <div class="header">
      <img src="/images/elephant.png" class="elephant">
      <img src="/images/profile_pic.png" class="userPic">
      
      <a href="/profile" class="fullName-header">{{fullName}}</a>
      <a href="/notifications" class="notifications">Notifications</a>
      
      <img src="/images/icon_notifications.png" class="notificationsPic">
      <div id="speech-bubble"></div>
      <p class="notNumber">{{notNumber}}</p>
      <a href="/projects" class="projects">Projects</a>
    </div>
    <div class="content">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Notifications</div>       

        <!-- List group -->
        <ul class="list-group" ng-repeat="notification in notifications">
        <li class="list-group-item">{{notification}}</li>
        </ul>
      </div>
    </div>

  </div>
</body>

</html>