<style>
	uib-accordion * {outline: 0 !important; color: black;}
</style>

<div class="edit-details modal-body">
	<h3> Edit Task details </h3>
	<div class="form-group">
		<input class="form-control" ng-model="task.name" placeholder="Name">
	</div>

	<div class="form-group">
		<textarea class="form-control" cols="40" rows="5" ng-model="task.description" placeholder="Description"></textarea>
	</div>

	<div class="form-group">
		<label class="sr-only">Status</label>
		<select placeholder="Status" class="form-control" ng-model="task.status">
			<option>in progress</option>
			<option>completed</option>
			<option>failed</option>
		</select>
	</div>

	<div class="form-group">
		<input class="form-control" type="date" ng-model="task.date" placeholder="Start Date">
	</div>

	<hr>

	Assignees: 
	<ul>
		<li ng-repeat="user in assignedUsers">
			{{user.fullName}}
		</li>
	</ul>

	<uib-accordion style="outline: 0" >
	<uib-accordion-group heading="Edit Asignees">
	<p>Select users to assign to this task:</p>
	<label ng-repeat="user in users" style="display: block">
		<input
		type="checkbox"
		name="selectedUsers[]"
		value="{{user.userName}}"
		ng-model="user.selected">
		{{user.fullName}}
	</label>
</uib-accordion-group>
</uib-accordion>

<button ng-disabled="!task || !task.date" type="submit" class="btn btn-success" ng-click="ok()">OK</button>
<button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div> 
