<div class="modal-body">
  <div class="form-group">
    <select placeholder="Language" class="form-control" ng-model="language">
      <option>English</option>
      <option>Francais</option>
      <option>Romana</option>
    </select>
  </div>
  <div class="form-group">
    <select placeholder="Notifications" class="form-control" ng-model="notifications">
      <option>On</option>
      <option>Off</option>
    </select>
  </div> 
  <div class="form-group">
    <select placeholder="Sharing" class="form-control" ng-model="sharing">
      <option>Public</option>
      <option>Private</option>
    </select>
  </div>    
  <button type="submit" class="btn btn-success" ng-click="ok()">Submit</button>
  <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div> 

