body {
  background-color: #00001a;
  font-family: "Helvetica";
}

.bigLogo {
	width: 120px;
	height: 100px;
  margin-top: 50px;
  margin-left: 100px;
}

.bigText {
  color: #acac86;
  font-size: 35px;
}

.appText {	
  margin-left: 220px;
  margin-top: -75px;
}

.loginText {
	font-size: 35px;
	color: #8080ff;
  margin-left: 220px;
  margin-top: 100px;
}

.loginForm {
	color:  #acac86;
  margin-top: 300px;
  margin-left: 40%;
}

.authTable td {
  padding: 5 10;
  font-weight: bold;
}

.authButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  margin-left: 100px;
  margin-top: 20px;
}

.authButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.authButton:focus {outline:0;}
