#filterForm {
  margin-top: 20px;
  background-color: #CCFFE6;
  padding: 15px;  
  border: 2px solid #004d27;  
  -webkit-border-radius: 10px 15px 15px 15px;
}

.panel-heading {
  font-weight: bold;
}