body {
  	background-color: #00001a;
	font-family: "Helvetica";
}

.joinText {
	margin-top: 170px;
	margin-left: 400px;
}

.loginAlt {
	margin-top: 170px;
	margin-left: 400px;
	font-size: 20px;
}

.signupForm {
	color:  #acac86;
  	margin-top: -100px;
  	margin-left: 50%;
  	width: 500px;
}

.signupForm input {
	width: 300px;
}