body {
  font-family: "Helvetica";
}
.elephant {
  height: 70px;
  padding-left: 50px;
  padding-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
  color: #ffcc99;
}

.content {
  margin-top: 50px;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
