<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Profile</title>

  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
  <link href="userProfile.css" rel="stylesheet" />
  <link href="../stylesheets/style.css" rel="stylesheet" />

  <script src="../javascripts/angular.min.js"></script>
  <script src="../javascripts/angular-animate.js"></script>
  <script src="../javascripts/ui-bootstrap-tpls-0.14.3.js"></script>
  
  <script src="userProfile.js"></script>
  <script src="detailsCtrl.js"></script>
  <script src="preferencesCtrl.js"></script>
</head>

<body>

  <div ng-controller="myAppCtrl">
    <div class="header">
      <img src="../images/elephant.png" class="elephant">
      <img src="../images/profile_pic.png" class="userPic">
      <a href="../UserProfile/userProfile.html" class="fullName-header">{{fullName}}</a>
      <a href="../Notifications/notifications.html" class="notifications">Notifications</a>
      <img src="../images/icon_notifications.png" class="notificationsPic">
      <div id="speech-bubble"></div>
      <p class="notNumber">{{notNumber}}</p>
      <a href="../Projects/projects.html" class="projects">Projects</a>
    </div>
    <div class="content">
        <img src="../images/elephant_profile.png" class="elephantProfile">
        <p class="userProfile">User Profile</p>
      <div class="details-div">
        <div class="details">Details</div>
        <span class="glyphicon glyphicon-pencil pencil-details clickable" ng-click="openDetailsModal()"></span>

        <p class="username">Username</p>
        <p class="username-value">{{username}}</p>

        <p class="fullname">Full Name</p>
        <p class="fullname-value">{{fullName}}</p>

        <p class="password">Password</p>
        <a class="password-change clickable">Change Password</a>

        <p class="email">Email</p>
        <p class="email-value">{{email}}</p>

        <p class="groups">Group</p>
        <p class="group-value">{{group}}</p>

        <p class="photo">Profile Picture</p>
        <p class="photo-change">Change Photo</p>
      </div>
     

      <div class="preferences-div">
        <div class="preferences">Preferences</div>
        <span class="glyphicon glyphicon-pencil pencil-preferences clickable" ng-click="openPreferencesModal()"></span>

        <p class="page-size">Language</p>
        <p class="page-size-value">{{language}}</p>

        <p class="email-type">Notifications</p>
        <p class="email-type-value">{{notifications}}</p>

        <p class="language">Sharing</p>
        <p class="language-change">{{sharing}}</p>
      </div>

      <div class="tasks-div">
        <div class="tasks">Tasks</div>        
        <span class="glyphicon glyphicon-filter clickable" ng-click="showFilters = !showFilters"></span>    

        <div class="tasks-list" ng-repeat="task in showTasks">
           <span ng-class="{'glyphicon glyphicon-remove' : task.type  =='bug', 'glyphicon glyphicon-circle-arrow-up' : task.type  =='feature', 'glyphicon glyphicon-flash' : task.type  =='build'}"></span>
           <p class="task-name">{{task.value}}</p>
        </div>
      </div>

      <div class="current-project-div">
        <div class="current-project">Current Project</div>
        <p class="current-application">Online Shop Application</p>
      </div>     

    </div>
      <div class="form-group" id="filterForm" ng-show="showFilters">
        <form>
          <label>
            <input ng-change="filter()" type="radio" ng-model="filterType" value="bug">
            Bug
          </label><br/>
          <label>
            <input ng-change="filter()" type="radio" ng-model="filterType" value="feature">
            Feature
          </label><br/>
          <label>
            <input ng-change="filter()" type="radio" ng-model="filterType" value="build">
            Broken Build
          </label><br/>
          <label>
            <input ng-change="filter()" type="radio" ng-model="filterType" value="all">
            All tasks
          </label><br/>
        </form>
      </div> 

  </div>
</body>

</html>